API_URL=https://api-mgspa-dev.mgpapelaria.com.br/api/
#API_URL=https://api-mgspa.mgpapelaria.com.br/api/
MGSIS_URL=https://sistema-dev.mgpapelaria.com.br/MGsis/
#MGSIS_URL=https://sistema.mgpapelaria.com.br/MGsis/
OAUTH_URL=https://api-mgspa-dev.mgpapelaria.com.br/api/quasar
#OAUTH_URL=https://api-mgspa.mgpapelaria.com.br/api/quasar
LOGOUT_URL=https://api-mgspa-dev.mgpapelaria.com.br/logout
#LOGOUT_URL=https://api-mgspa.mgpapelaria.com.br/logout
MGLARA_URL=https://sistema-dev.mgpapelaria.com.br/MGLara
#MGLARA_URL=https://sistema.mgpapelaria.com.br/MGLara/
API_AUTH_URL=https://auth-dev.mgpapelaria.com.br
#API_AUTH_URL=https://auth.mgpapelaria.com.br
NEGOCIOS_URL=https://negocios-dev.mgpapelaria.com.br:9900
PESSOAS_URL=https://sistema-dev.mgpapelaria.com.br:8081
NOTAS_URL=https://sistema-dev.mgpapelaria.com.br:8082
