dt {
  color: rgba(0,0,0,0.54);
}

dl {
  margin: 0;
}

dd {
  margin-bottom: 16px;
}

dd:last-child {
  margin-bottom: 0;
}

.q-rating i.q-icon:not(.active) {
  color: grey;
  opacity: 0.1;
}

/*
*:focus {
  outline: none;
}
*/
